name: New Deploy DAGs to Composer
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
jobs:
  deploy:
    name: Upload DAG files to Airflow
    runs-on: ubuntu-latest
    steps:
      # copying files to machine
      - name: Checkout
        uses: actions/checkout@v3
      # listing changed files
      - name: List all changed files
        run: |
          CHANGED_FILES=$(git diff @~..@ --name-only --no-renames | sort)
          for file in $CHANGED_FILES;
          do
            echo "$file has been changed."
          done
      # checking deleted files
      - name: List all deleted files
        run: |
          DELETED_FILES=$(git diff @~..@ --name-only --no-renames --diff-filter=RD | sort)
          for file in $DELETED_FILES;
          do
            echo "$file has been deleted."
          done
      - name: List all added or modified files
        run: |
          MODIFIED_FILES=$(git diff @~..@ --name-only --no-renames --diff-filter=ACM | sort)
          for file in $MODIFIED_FILES;
          do
            echo "$file has been added or modified."
          done
